<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CircularProgressBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E8F12DD1CD75C7600EDB389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8F12F61CD75C7600EDB389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8F13011CD75C7600EDB389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
